 
<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->
<style>  .modal-dialog{  position: absolute!important;
top: 50% !important;
left: 50% !important;
transform: translate(-50%, -50%) !important;
width: 50% !important;
    } </style>
<div class="modal-header">
    <h3>Date d'entrée </h3>
</div>
<form  name="form.userForm" ng-submit="updateDateEntree(id)" >
    <div class="modal-body">

        <div class="form-group">
            <label>Date d'entrée</label>
            <input type="date" name="date_diagnostic" class="form-control" ng-model="userForm.date_diagnostic" required>
        </div>
  </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Sauvegarder</button>
        <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
    </div>
</form>