<!--
 
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<style>  
	.modal-dialog{  position: absolute!important;
top: 50% !important;
left: 50% !important;
transform: translate(-50%, -50%) !important;
width: 50% !important;
    } </style>

<div class="modal-header">
    <h3>Fiche diagnostic (Date diagnostic: {{fichediag.date_sortie}} ) </h3>
</div>

    <div class="modal-body">

        <div class="form-group">
            <label>Numéro de série</label>&nbsp; {{fichediag.num_serie}}
      <p></p>
        </div>


        <div class="form-group">
            <label>Panne signalée:</label> &nbsp;{{fichediag.panne_signaler}}
         
           
        </div>
 <div class="form-group">
            <label>Diagnostic </label> &nbsp;{{fichediag.diagnostic}}
            
        </div>

   
		
		   <div class="form-group">
            <label>Prix réparation </label>	&nbsp;{{fichediag.prix_reparation}}
          
        </div>
		<div class="form-group">
            <label>Remarques / Observation</label>&nbsp;{{fichediag.observation}}
			
        </div>



		
    </div>
-->
   
<!-- Tab links -->


<!--
  <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
        <uib-tabset>
          <uib-tab ng-repeat="tab in vm.tabs"
               heading="{{tab.title}}"
               active="tab.active"
               disable="tab.disabled">
            <formly-form model="tab.form.model" fields="tab.form.fields" form="vm.form" options="tab.form.options">
            </formly-form>
          </uib-tab>
          <uib-tab heading="Submit">
            <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
            <button type="button" class="btn btn-default" ng-click="vm.resetAllForms()">Reset</button>
          </tab>
        </tabset>
      </form>
      <hr />
      <h2>Model Value</h2>
      <pre>{{vm.model | json}}</pre>
      <h2>Tabs <small>(note, functions are not shown)</small></h2>
      <pre>{{vm.originalTabs | json}}</pre>
      <h2>Form</h2>
      <pre>{{vm.form | json}}</pre>
    </div>

    <div style="margin-top:30px">
      <small>
        This is an example for the
        <a href="https://formly-js.github.io/angular-formly">angular-formly</a>
        project made with ♥ by
        <strong>
          <span ng-if="!vm.author.name || !vm.author.url">
            {{vm.author.name || 'anonymous'}}
          </span>
          <a ng-if="vm.author.url" ng-href="{{::vm.author.url}}">
            {{vm.author.name}}
          </a>
        </strong>
        <br />
        This example is running angular version "{{vm.env.angularVersion}}" and formly version "{{vm.env.formlyVersion}}"
      </small>
    </div>
-->
<style>
	
	.modal-dialog{  position: absolute!important;
top: 50% !important;
		line-height: inherit !important;
left: 50% !important;
transform: translate(-50%, -50%) !important;
width: 50% !important;
		
    }
	
	.modal-footer{
	text-align: left !important;
	}

	
	@media screen and (min-width: 600px)  {
	.modal-dialog{
		width: 600px !important;
	
	}}
	
	@media screen and (min-width: 400px)  {
	table .table{
		width: 400px !important;
	
	}}
	

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab  {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>

<!--
  <form name='tab' ng-submit="msg='submited'">
            <button class="tablinks"  ng-click="tab=1">tab 1</button>
            <button class="tablinks" ng-click="tab=2">tab 2</button>
                <ng-form ng-show="tab==1">
                    <label >1 st tab</label>
                    <input type="number" ng-model="input2" required="required" />
                </ng-form>
                <ng-form ng-show="tab==2">
                    <label>2nd tab</label>
                    <input type="text" ng-model="input3" required="required" />
                </ng-form>
            <p>Form shouldn't submit if both fields are empty or if the first is not a number.</p>
            <input type="submit" value="submit" />
        <form>
-->

 <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" ng-click="tab=0">Fiche client</a></li>
    <li><a data-toggle="tab" ng-click="tab=1">Fiche technique</a></li>

  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active" ng-show="tab==0">
      <h3>Fiche client</h3>
		   <div class="modal-body" style="margin-top: 20px !important;">
      <form name="form.clientForm" class="form-horizontal" ng-submit="updateClient(id)" >
		  
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Nom</b></label>
                          <div class="col-sm-8">
                            <input type="text"  name="nom" ng-if="fichediag.nom == null"  ng-model="clientForm.nom" class="form-control"  />
							     <input type="text" name="nom"  ng-if="fichediag.nom != null"  ng-init="clientForm.nom =fichediag.nom" ng-model="clientForm.nom" class="form-control"  />
                          </div>
                        </div>
                       
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Prénom</b></label>
                          <div class="col-sm-8">
                            <input type="text" name="prenom" ng-if="fichediag.prenom == null"   ng-model="clientForm.prenom"  class="form-control"  />
							  <input type="text" name="prenom"  ng-if="fichediag.prenom != null" ng-init="clientForm.prenom =fichediag.prenom"   ng-model="clientForm.prenom"  class="form-control"  />
                          </div>
                        </div>
						     <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Tel</b></label>
                          <div class="col-sm-8">
                         <input type="text" name="tel" ng-if="fichediag.tel == null" ng-model="clientForm.tel"  class="form-control"  />
							  <input type="text" name="tel"  ng-if="fichediag.tel != null" ng-init="clientForm.tel =fichediag.tel" ng-model="clientForm.tel"  class="form-control"  />
                          </div>
                        </div>
						  
						    <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Email</b></label>
                          <div class="col-sm-8">
                         <input type="email" name="email" ng-if="fichediag.email == null" ng-model="clientForm.email" class="form-control"  />
							  <input type="email" name="email" ng-if="fichediag.email != null" ng-init="clientForm.email =fichediag.email"  ng-model="clientForm.email"  class="form-control"  />
                          </div>
                        </div>
						     <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Désignation</b></label>
                          <div class="col-sm-8">
                         <input type="text" name="designation"  ng-if="fichediag.designation == null" ng-model="clientForm.designation"  class="form-control"  />
							     <input type="text"  name="designation"  ng-if="fichediag.designation != null" ng-init="clientForm.designation =fichediag.designation"   ng-model="clientForm.designation"  class="form-control"  />
                          </div>
                        </div>
						     <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Date d'achat</b></label>
                          <div class="col-sm-8">
                         <input type="text" name="date_achat"  ng-if="fichediag.date_achat == null"  ng-model="clientForm.date_achat" value="{{fichediag.date_achat}}" class="form-control"  />
							    <input type="text" name="date_achat" ng-if="fichediag.date_achat != null" ng-init="clientForm.date_achat =fichediag.date_achat"  ng-model="clientForm.date_achat" value="{{fichediag.date_achat}}" class="form-control"  />
                          </div>
                        </div>
						  
						      <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Num série</b></label>
                          <div class="col-sm-8">
                          <input  ng-if="fichediag.num_serie == null"  name="num_serie" class="form-control"  ng-model="clientForm.num_serie"   >
			
            <input  ng-if="fichediag.num_serie !=null"   name="num_serie" class="form-control" ng-model="clientForm.num_serie" ng-init="clientForm.num_serie =fichediag.num_serie"  >
                          </div>
                        </div>
						     
						       <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label" ><b>Garantie</b> </label>
                          <div class="col-sm-7">
<!--
                              <input type="text" name="garantie" ng-if="fichediag.garantie == null" ng-model="clientForm.garantie" value="{{fichediag.garantie}}"  /> 
							  <input type="text" name="garantie"  ng-if="fichediag.garantie != null" ng-init="clientForm.garantie =fichediag.garantie" ng-model="clientForm.garantie" value="{{fichediag.garantie}}"  /> 
-->
							
                              <input id="optionsRadios3" type="radio" name="garantie"  value="Yes" ng-model="clientForm.garantie">
                              <label for="optionsRadios1">Yes</label>
						    <input id="optionsRadios4" type="radio" name="garantie" value="No" ng-model="clientForm.garantie">
                              <label for="optionsRadios4">No</label>
                     
							  
                         </div>
                        </div>
						  
						       <div class="line"></div>
						    <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Panne à signaler</b> </label>
<!--                          <div class="col-sm-8">-->
<!--                         <textarea ng-model="fiche.panne" class="form-control"></textarea>-->
<!--
							  <input  name="panne_client" ng-if="fichediag.panne_client == null"  ng-model="clientForm.panne_client" value="{{fichediag.panne_client}}" />
							    <input  name="panne_client" ng-if="fichediag.panne_client != null" ng-init="clientForm.panne_client =fichediag.panne_client" ng-model="clientForm.panne_client" value="{{fichediag.panne_client}}" />
							  
-->
<!--                          </div>-->
								
								
								
				 
				  <div class="col-sm-8">

							  <select  ng-model="clientForm.panne_client" name="panne_client" ng-change="changeOther()" class="form-control">
							  <option value="Power Supply">Power Supply</option>
								  <option value="Noise">Noise</option>
								    <option value="Input channel">Input channel</option>
								  <option value="Output channel">Output channel</option>
								   <option value="not working">Not working</option>
								  <option value="Other" >Other</option>
								  
							  </select>
							  <input ng-if="clickedButton" type="text" ng-model="clientForm.panne_client" />
					  
		               </div>
				 
								
								
                        </div>
						  
						  
                        <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label" ><b>J'autorise la réparation intégrale</b> </label>
                          <div class="col-sm-7">
<!--
                             
						    <input id="optionsRadios2" name="reparation" ng-if="fichediag.reparation == null"  ng-model="clientForm.reparation" type="text" value="{{fichediag.reparation}}" class="form-control" />
							    <input id="optionsRadios2" name="reparation" ng-if="fichediag.reparation != null"  ng-model="clientForm.reparation" ng-init="clientForm.reparation =fichediag.reparation" type="text" value="{{fichediag.reparation}}" class="form-control"  />
-->
							  
							  <input id="optionsRadios1" type="radio" value="Oui" name="reparation"  ng-model="clientForm.reparation">
                              <label for="optionsRadios2">Oui</label>
						    <input id="optionsRadios2" type="radio" value="Non" name="reparation" ng-model="clientForm.reparation">
                              <label for="optionsRadios2">Non</label>
                              
                         </div>
                        </div>
						  <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label" ><b>Frais diagnostic</b> </label>
                          <div class="col-sm-7">
<!--
							  <input type="text" name="frais_diagnostic"  ng-if="fichediag.reparation == null" ng-model="clientForm.frais_diagnostic" value="{{fichediag.frais_diagnostic}}" class="form-control"/>
							  <input type="text" name="frais_diagnostic"  ng-if="fichediag.reparation != null" ng-init="clientForm.frais_diagnostic =fichediag.frais_diagnostic"  ng-model="clientForm.frais_diagnostic" value="{{fichediag.frais_diagnostic}}" class="form-control " />
-->
							    <div class="col-sm-7">
                           <select name="frais_diagnostic" ng-model="clientForm.frais_diagnostic">
							<option value="Payé">Payé</option>
							<option value="Non payé">Non payé</option>
							  </select>
                         </div>
							</div>
                        </div>

		  	 
		  
	
		  
			 
<!--
			       <input type="text" ng-if="fichediag.personnel == null" ng-model="fichediag.personnel" name="personnel" class="form-control" />
		 <input ng-if="fichediag.personnel != null" type="text"  ng-model="fichediag.personnel" name="personnel" ng-init="ficheForm.personnel =fichediag.personnel" class="form-control" />	
-->
							    <div class="line"></div>
					<div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Prise en charge par Mr:</b></label>
                          <div class="col-sm-8">
                       <select name="personnel" ng-model="clientForm.personnel">
							  <option value="Badr"> Badr</option>
						    <option value="Samir" > Samir</option>
						    <option value="Anouar" >Anouar</option>
							  </select>
                          </div>
                        </div>
			
		
		
    <div class="modal-footer">
		  <input type="submit" class="btn btn-primary"  value="Mettre à jour" />
		          <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
		  </div>
                      </form>
		
		</div>
		
		
    </div>
    <div id="menu1" class="tab-pane fade in active" ng-show="tab==1">
     
      	   <div class="modal-body" style="margin-top: 20px !important;">
			    <h3>Fiche technique</h3>
                      <form class="form-horizontal">
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Numéro de série</b></label>
                          <div class="col-sm-8">
                            <input type="text" ng-model="clientForm.num_serie" class="form-control" ng-init="clientForm.num_serie =fichediag.num_serie" disabled>
                          </div>
                        </div>
                       
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Panne signalée</b></label>
                          <div class="col-sm-8">
                            <input type="text" ng-model="clientForm.panne_signaler" ng-init="clientForm.panne_signaler =fichediag.panne_signaler" class="form-control" disabled>
                          </div>
                        </div>
						     <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Diagnostic</b></label>
                          <div class="col-sm-8">
                         <input type="text" ng-model="clientForm.diagnostic" ng-init="clientForm.diagnostic =fichediag.diagnostic" class="form-control" disabled>
                          </div>
                        </div>
						  
						    <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Prix de réparation</b></label>
                          <div class="col-sm-8">
                         <input type="email" ng-model="clientForm.prix_reparation"  ng-init="clientForm.prix_reparation =fichediag.prix_reparation" class="form-control" disabled>
                          </div>
                        </div>
						     <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Date de diagnostic</b></label>
                          <div class="col-sm-8">
                         <input type="text" ng-model="clientForm.date_diagnostic" ng-init="clientForm.date_diagnostic =fichediag.date_diagnostic" class="form-control" disabled>
                          </div>
                        </div>
						   <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Réréparation </b></label>
                          <div class="col-sm-8">
                         <input type="text" ng-model="clientForm.rereparation" ng-init="clientForm.rereparation =fichediag.rereparation" class="form-control" disabled>
                          </div>
                        </div>
 <table  class="table">
	<thead class="active"><th>Désignation</th><th>référence</th><th>Qte</th><th>disponibilité</th><th>Prix</th></thead>
		<tbody><tr ng-repeat="piece in pieces"  class="active">
			<td><input type="text" style="max-width:100px" name="designationpiece[{{$index}}]" ng-model="userForm.designationpiece[$index]" ng-init="userForm.designationpiece[$index]=piece.designation_piece" disabled></td>
			<td><input type="text"  style="max-width:100px" name="referencepiece[{{$index}}]" ng-model="userForm.referencepiece[$index]" ng-init="userForm.referencepiece[$index]=piece.reference_piece" disabled></td>
			<td><input type="text"  style="max-width:40px" name="qtepiece[{{$index}}]" ng-model="userForm.qtepiece[$index]" ng-init="userForm.qtepiece[$index]=piece.qte_piece" disabled></td>
			<td><input type="text"  style="max-width:40px" name="choix[{{$index}}]" ng-model="userForm.choix[$index]" ng-init="userForm.choix[$index]=piece.choix" disabled>
   
      </td>
       <td><input type="text"  style="max-width:40px" name="prixpiece[{{$index}}]" ng-model="userForm.prixpiece[$index]" ng-init="userForm.prixpiece[$index]=piece.prix_piece" disabled></td>
			</tr></tbody>
	</table>
						     
						  
                      </form>
                  
		</div>
	  </div>
    <!--<div id="menu2" class="tab-pane fade in active" ng-show="tab==2">
      <h3>Pièces</h3>

		
<table  class="table">
	<thead class="active"><th>Désignation</th><th>référence</th><th>Qte</th><th>Prix</th></thead>
		<tbody><tr ng-repeat="piece in pieces"  class="active">
			<td><input type="text" style="max-width:100px" name="designationpiece[{{$index}}]" ng-model="userForm.designationpiece[$index]" ng-init="userForm.designationpiece[$index]=piece.designation_piece" disabled></td>
			<td><input type="text"  style="max-width:100px" name="referencepiece[{{$index}}]" ng-model="userForm.referencepiece[$index]" ng-init="userForm.referencepiece[$index]=piece.reference_piece" disabled></td>
			<td><input type="text"  style="max-width:40px" name="qtepiece[{{$index}}]" ng-model="userForm.qtepiece[$index]" ng-init="userForm.qtepiece[$index]=piece.qte_piece" disabled></td>
			<td><input type="text"  style="max-width:40px" name="prixpiece[{{$index}}]" ng-model="userForm.prixpiece[$index]" ng-init="userForm.prixpiece[$index]=piece.prix_piece" disabled></td>
<td><a class="btn btn-danger"  ng-click="remove($index,piece._id)">X</a></td>
			</tr></tbody>
	</table>
		<td>&nbsp; <a class="btn btn-success" style="width:20px !important;margin-bottom:40px !important" ng-click="nbr = nbr + 1;showNbrPieces(nbr,id)">+</a>
</td>


 <div ng-if="isClicked">
		<table  ng-repeat="c in nbrnewpieces" class="table">
		<thead class="active"><th>Désignation</th><th>référence</th><th>Qte</th><th>Etat</th><th >Prix</th></thead><tbody>
				 <tr class="active">
					 <td><input type="text" name="designationpiece[{{c-1}}]" style="max-width:100px" ng-model="userForm.designationpiece[c-1]"></td>
				 <td><input type="text" name="referencepiece[{{c-1}}]" ng-model="userForm.referencepiece[c-1]" style="max-width:100px"></td>
					 <td><input type="number"  style="max-width:40px" name="qtepiece[{{c-1}}]" ng-model="userForm.qtepiece[c-1]"></td>
				<td><input name="choix[{{c-1}}]" ng-model="userForm.choix[c-1]" ng-change="changeCountPiece(c-1)" style="max-width:100px" /></td>
			<td><input type="number" name="prixpiece[{{c-1}}]" ng-model="userForm.prixpiece[c-1]" style="max-width:55px"></td>
				 </tr></tbody>
				 </table>
			 </div>

		<br/>

    </div>-->
    
  </div>



<!--<form >-->
<!-- Tab links -->
<!--
<div class="tab" name='tab' >
  <button class="tablinks" onclick="openCity(event, 'London')" ng-click="tab=1">London</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')"  ng-click="tab=2">Paris</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')"  ng-click="tab=3">Tokyo</button>
</div>
-->

<!-- Tab content -->
<!--
<div id="London" class="tabcontent" ng-show="tab==1">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>
-->

<!--
<div id="Paris" class="tabcontent" ng-show="tab==2">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p> 
</div>
-->

<!--

<div id="tokyo" class="tabcontent" ng-show="tab==3">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p> 
</div>
</form>
-->
