


<section>
 <!-- Form Elements -->
                  <div class="card">
					  <br>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Fiche Réparation</h3>
                    </div>
                    <div class="card-body">
                      <form class="form-horizontal" ng-submit="subUpdateForm(id)">
                        <div class="form-group row">
                         <label class="col-sm-2 form-control-label"> Num de série</label>
                          <div class="col-sm-8">
                       <input name="num_serie" ng-if="fichediag.num_serie == null"   ng-model="ficheForm.num_serie"  class="form-control" value="{{fichediag.num_serie}}" >
			
            <input   name="num_serie" ng-if="fichediag.num_serie !=null" class="form-control" ng-init="ficheForm.num_serie =fichediag.num_serie" ng-model="ficheForm.num_serie"  value="{{fichediag.num_serie}}"  >
                         
                         
                         
                          </div>
                        </div>
                       
                        <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Observation</label>
                          <div class="col-sm-8">
                           <textarea  ng-if="fichediag.observation == null"  name="observation"  ng-model="ficheForm.observation"  class="form-control"   required></textarea>
            <textarea ng-if="fichediag.observation != null" name="observation" ng-model="ficheForm.observation"  class="form-control"   ng-init="ficheForm.observation =fichediag.observation" required></textarea>
			
			
                          </div>
                        </div>
						     <div class="line"></div>
                        <div class="form-group row">
                           <label class="col-sm-2 form-control-label">Diagnostic</label>
                          <div class="col-sm-8">
                           <textarea  ng-if="fichediag.diagnostic == null"  name="diagnostic" ng-model="ficheForm.diagnostic"  class="form-control" required ></textarea>
            <textarea ng-if="fichediag.diagnostic != null" name="diagnostic" ng-model="ficheForm.diagnostic"  class="form-control" ng-init="ficheForm.diagnostic =fichediag.diagnostic" required></textarea>
			
                          </div>
                        </div>
						  
						    <div class="line"></div>
                        <div class="form-group row">
               <label class="col-sm-2 form-control-label">Prix de réparation</label>
                          <div class="col-sm-8">
                            <input ng-if="fichediag.prix_reparation == null"   class="form-control"  name="prix_reparation" ng-model="ficheForm.prix_reparation" required >
			  <input  ng-if="fichediag.prix_reparation != null" class="form-control" name="prix_reparation"   ng-init="ficheForm.prix_reparation =fichediag.prix_reparation" ng-model="ficheForm.prix_reparation"  required >
        </div>		
					
                        </div>
						     <div class="line"></div>
                        <div class="form-group row">
                             <label class="col-sm-2 form-control-label">Remarques / Observation</label>
                          <div class="col-sm-8">
                       <textarea  ng-if="fichediag.prix_reparation == null"   ng-model="ficheForm.observation" name="observation" class="form-control"   ></textarea>
			 <textarea ng-if="fichediag.observation != null"  ng-init="ficheForm.observation =fichediag.observation"  ng-model="ficheForm.observation" name="observation" class="form-control"  ></textarea>
      
			
                          </div>
                        </div>
                 
						   <div class="line"></div>
                        <div class="form-group row">
                 <label class="col-sm-2 form-control-label">Statut</label>
                          <div class="col-sm-8">
                        <select  ng-if="fichediag.statut == null"   name="statut" class="form-control" ng-model="ficheForm.statut" >
			 <option>PENDING</option>
			   <option>COMPLETED</option>
			 </select>
			
				 
				  <select  ng-if="fichediag.statut != null"  ng-init="ficheForm.statut =fichediag.statut" name="statut" class="form-control" ng-model="ficheForm.statut" >
			 <option>PENDING</option>
			   <option>COMPLETED</option>
			 </select>
                          </div>
                        </div>
						     
						  <div class="line"></div>
                        <div class="form-group row">
                             <label class="col-sm-2 form-control-label">Réréparation</label>
                          <div class="col-sm-8">
                           <select  ng-if="fichediag.rerepare == null"  name="rerepare" class="form-control" ng-model="ficheForm.rerepare" >
			 <option>YES</option>
			   <option>NO</option>
			 </select>
				 
				   <select ng-if="fichediag.rerepare != null" name="rerepare" ng-model="ficheForm.rerepare"  class="form-control"   ng-init="ficheForm.rerepare =fichediag.rerepare" >
			 <option>YES</option>
			   <option>NO</option>
			 </select>
           
                          </div>
                        </div>
						  
						      <div class="line"></div>
                        <div class="form-group row">
                              <label class="col-sm-2 form-control-label">Priorité</label>
                          <div class="col-sm-8">
                         <select   ng-if="fichediag.priority ==null"  name="priority" class="form-control" ng-model="ficheForm.priority" >
			 <option>HIGH</option>
			   <option>LOW</option>
			 </select>
			
            <select  ng-if="fichediag.priority !=null"   name="priority" class="form-control" ng-model="ficheForm.priority" ng-init="ficheForm.priority =fichediag.priority" >
				 <option>HIGH</option>
			   <option>LOW</option>
				   </select>
                          </div>
                        </div>
						     
						       <div class="line"></div>
                        <div class="form-group row">
                  		    <label class="col-sm-2 form-control-label">Etat fiche </label>
                          <div class="col-sm-7">
                             	<select class="form-control" name="etat" ng-model="ficheForm.etat" ng-change="etat()"   >
			<option value="devis">Devis</option>
			<option value="true">Cloturé</option>
			
			</select>
                         </div>
                        </div>
						  
						      
            

					 <div class="line"></div>
                        <div class="form-group row">
                          <div class="col-sm-8" style="float:right">
                        
                            <input type="submit" class="btn btn-success" value="update" />
                                  
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
             


          </section>
          <!-- Page Footer-->
   