

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"> Sonomusic</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
		  <li><a href="/#/fiche">Ajouter Fiche réparation</a></li>
          <li class="active"><a href="/#/fiches">Liste réparations</a></li>
		  <li><a href="/#/pieces">Gestion pièces de rechange</a></li>
          </ul>
				 <a style="float:right;padding-top: 15px;padding-bottom: 15px;color:#9d9d9d;text-decoration:none" n href="/#/logout" ng-click="logout()" class="active">Déconnexion</a>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div>



<section >
 <!-- Form Elements -->
                  <div class="card">
					  <br>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Fiche de travail</h3>
                    </div>
                    <div class="card-body">
                      <form class="form-horizontal">
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Nom et prénom</b></label>
                          <div class="col-sm-8">
                            <input type="text" ng-model="fiche.nom" class="form-control">
                          </div>
                        </div>
                       
						 <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Date d'entrée </b></label>
                          <div class="col-sm-8">
                         <input type="date" ng-model="fiche.date" class="form-control">
                          </div>
                        </div>
						    <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Désignation</b></label>
                          <div class="col-sm-8">
                            <input type="text" ng-model="fiche.designation" class="form-control">
                          </div>
                        </div>
						     <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Panne</b></label>
                          <div class="col-sm-8">
                         <input type="text" ng-model="fiche.panne" class="form-control">
                          </div>
                        </div>
						  
						    <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Pièces de rechange utilisés</b></label>
                          <div class="col-sm-8">
							  <textarea class="form-control" ng-model="fiche.piece_rechange"></textarea>
                          </div>
                        </div>
						     <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Temps de réparation</b></label>
                          <div class="col-sm-8">
                         <input type="text" ng-model="fiche.tps_reparation" class="form-control">
                          </div>
                        </div>
						   
						     
						  <div class="line"></div>
                        <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><b>Personne chargée de la réparation</b></label>
                          <div class="col-sm-8">
                         <input type="text" ng-model="fiche.personnel" class="form-control">
                          </div>
                        </div>
						  
						    
						  
						    

					
                       <div class="line"></div>
                        <div class="form-group row">
                          <div class="col-sm-8" style="float:right">
                            <button type="reset" class="btn btn-secondary" style="color:white !important">Cancel</button>
                            <button type="submit" class="btn btn-success" ng-click="sendFiche()">Envoyer</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
              
              </div>
            </div>




          </section>
          <!-- Page Footer-->
         
        </div>
      </div>

   