<style>li {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    color: hsl(40, 100%, 20%);
    text-decoration: none;
  
}

[data-notifications] {
    position: relative;
}

[data-notifications]:after {
    content: attr(data-notifications);
    position: absolute;
    background: red;
    border-radius: 50%;
    display: inline-block;
    padding: 0.3em;
    color: #f2f2f2;
    top: -3px;
}




</style>


    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"> Sonomusic</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
		  <li><a href="/#/fiche">Ajouter Fiche réparation</a></li>
          <li class="active"><a href="/#/fiches">Liste réparations</a></li>
		  <li><a href="/#/pieces">Mes commandes</a></li>
          </ul>
				 <a style="float:right;padding-top: 15px;padding-bottom: 15px;color:#9d9d9d;text-decoration:none" n href="/#/logout" ng-click="logout()" class="active">Déconnexion</a>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div>


<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">-->

<div ng-controller="clientsCtrl">

      <div class="page-content d-flex align-items-stretch"> 
        <!-- Side Navbar -->

        <div >
          <!-- Page Header-->
        
          <!-- Breadcrumb-->
         
          <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
						<h2><strong>Modifier Fiche Diagnostic</strong> </h2>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table id="my-table" class="table">
                          <thead>
                            <tr>
                              <th>Client</th>
                              <th>Tel</th>
							  <th>Désignation</th>
                              <th>Panne à signaler</th>
							  <th>Fiche de diagnostic</th>
							  <th>Générer rapport</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="fiche in fichesModified">
                            <td>{{fiche.nom}} {{fiche.prenom}} </td>
							<td>{{fiche.tel}}</td>
						    <td>{{fiche.designation}}</td>
						    <td>{{fiche.panne_client}}</td>
							<td><button class="btn btn-primary" ng-click="showFormModif(fiche._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Modifier</button></td>
								<td><button class="btn btn-success" ng-click="showRapport(fiche._id)">Ajouter rapport</button></td>
                            </tr>
                          </tbody>
                        </table>
<!--
						  <button class="btn btn-link" ng-click="exportToExcel('#my-table')">
		<span class="glyphicon glyphicon-share"></span> Export to Excel
	</button>
-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Page Footer-->
          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Sonomusic &copy; 2017-2019</p>
                </div>
                
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <!-- Javascript files-->
	  </div>
  